services:
  nfq_sylius_omnisend_plugin.builder.product_picker:
    class: NFQ\SyliusOmnisendPlugin\Builder\ProductPickerBuilder
    arguments:
      - '@nfq_sylius_omnisend_plugin.resolver.product_image'
      - '@sylius.calculator.product_variant_price'
      - '@sylius.context.channel.composite'
      - '@nfq_sylius_omnisend_plugin.resolver.product_url'
      - '@nfq_sylius_omnisend_plugin.resolver.product_additional_data'
      - '@nfq_sylius_omnisend_plugin.resolver.product_original_price_resolver'

  nfq_sylius_omnisend_plugin.builder.product_picker_director:
    class: NFQ\SyliusOmnisendPlugin\Builder\ProductPickerBuilderDirector
    arguments:
      - '@sylius.product_variant_resolver.default'
      - '@nfq_sylius_omnisend_plugin.builder.product_picker'

  nfq_sylius_omnisend_plugin.builder.request.contact:
    class: NFQ\SyliusOmnisendPlugin\Builder\Request\ContactBuilder
    arguments:
      - '@nfq_sylius_omnisend_plugin.factory.request.contact_identifier'
      - '@nfq_sylius_omnisend_plugin.resolver.customer_additional_data'

  nfq_sylius_omnisend_plugin.builder.request.contact_director:
    class: NFQ\SyliusOmnisendPlugin\Builder\Request\ContactBuilderDirector
    arguments:
      - '@nfq_sylius_omnisend_plugin.builder.request.contact'

  nfq_sylius_omnisend_plugin.builder.request.cart:
    class: NFQ\SyliusOmnisendPlugin\Builder\Request\CartBuilder
    arguments:
      - '@router'
      - '@request_stack'
      - '@nfq_sylius_omnisend_plugin.factory.request.cart_product'
      - '@sylius.random_generator'

  nfq_sylius_omnisend_plugin.builder.request.cart_director:
    class: NFQ\SyliusOmnisendPlugin\Builder\Request\CartBuilderDirector
    arguments:
      - '@nfq_sylius_omnisend_plugin.builder.request.cart'

  nfq_sylius_omnisend_plugin.builder.request.order_director:
    class: NFQ\SyliusOmnisendPlugin\Builder\Request\OrderBuilderDirector
    arguments:
      - '@nfq_sylius_omnisend_plugin.builder.request.order'

  nfq_sylius_omnisend_plugin.builder.request.order:
    class: NFQ\SyliusOmnisendPlugin\Builder\Request\OrderBuilder
    arguments:
      - '@nfq_sylius_omnisend_plugin.factory.request.order_address'
      - '@nfq_sylius_omnisend_plugin.factory.request.order_product'
      - '@nfq_sylius_omnisend_plugin.mapper.order_state'
      - '@nfq_sylius_omnisend_plugin.mapper.order_payment_state'
      - '@nfq_sylius_omnisend_plugin.resolver.default_order_coupon'
      - '@nfq_sylius_omnisend_plugin.resolver.courier_data_resolver'
      - '@nfq_sylius_omnisend_plugin.resolver.order_custom_fields'
      - '@router'

  nfq_sylius_omnisend_plugin.builder.request.product_image_list:
    class: NFQ\SyliusOmnisendPlugin\Builder\Request\ProductImageListBuilder
    arguments:
      - '@nfq_sylius_omnisend_plugin.factory.request.product_image'
      - '%nfq_sylius_omnisend_plugin.product_image.type%'

  nfq_sylius_omnisend_plugin.builder.request.product:
    class: NFQ\SyliusOmnisendPlugin\Builder\Request\ProductBuilder
    arguments:
      - '@nfq_sylius_omnisend_plugin.factory.request.product_variant'
      - '@nfq_sylius_omnisend_plugin.builder.request.product_image_list'
      - '@nfq_sylius_omnisend_plugin.resolver.product_variant_stock'
      - '@nfq_sylius_omnisend_plugin.resolver.product_url'
      - '@nfq_sylius_omnisend_plugin.resolver.product_additional_data'

  nfq_sylius_omnisend_plugin.builder.request.product_director:
    class: NFQ\SyliusOmnisendPlugin\Builder\Request\ProductBuilderDirector
    arguments:
      - '@nfq_sylius_omnisend_plugin.builder.request.product'

  nfq_sylius_omnisend_plugin.builder.request.event:
    class: NFQ\SyliusOmnisendPlugin\Builder\Request\EventBuilder

  nfq_sylius_omnisend_plugin.builder.request.event_director:
    class: NFQ\SyliusOmnisendPlugin\Builder\Request\EventBuilderDirector
    arguments:
      - '@nfq_sylius_omnisend_plugin.builder.request.event'
