services:
  nfq_sylius_omnisend_plugin.controller.cart_recover:
    class: NFQ\SyliusOmnisendPlugin\Controller\CartRecoverAction
    arguments:
      - '@sylius.storage.cart_session'
      - '@router'
      - '@sylius.repository.order'
    public: true

  nfq_sylius_omnisend_plugin.controller.events_sync:
    class: NFQ\SyliusOmnisendPlugin\Controller\SyncEventsAction
    arguments:
      - '@sylius.context.channel.composite'
      - '@messenger.routable_message_bus'
      - '@session'
    public: true
