services:
  nfq_sylius_omnisend_plugin.factory.request.contact_identifier:
    class: NFQ\SyliusOmnisendPlugin\Factory\Request\ContactIdentifierFactory
    arguments:
      - '%nfq_sylius_omnisend_plugin.send_welcome_message%'

  nfq_sylius_omnisend_plugin.factory.request.category:
    class: NFQ\SyliusOmnisendPlugin\Factory\Request\CategoryFactory

  nfq_sylius_omnisend_plugin.factory.request.batch:
    class: NFQ\SyliusOmnisendPlugin\Factory\Request\BatchFactory

  nfq_sylius_omnisend_plugin.factory.request.cart_product:
    class: NFQ\SyliusOmnisendPlugin\Factory\Request\CartProductFactory
    arguments:
      - '@nfq_sylius_omnisend_plugin.resolver.product_image'
      - '@router'

  nfq_sylius_omnisend_plugin.factory.request.order_product:
    class: NFQ\SyliusOmnisendPlugin\Factory\Request\OrderProductFactory
    arguments:
      - '@nfq_sylius_omnisend_plugin.resolver.product_image'
      - '@router'

  nfq_sylius_omnisend_plugin.factory.request.order_address:
    class: NFQ\SyliusOmnisendPlugin\Factory\Request\OrderAddressFactory

  nfq_sylius_omnisend_plugin.factory.request.product_image:
    class: NFQ\SyliusOmnisendPlugin\Factory\Request\ProductImageFactory
    arguments:
      - '@liip_imagine.cache.manager'
      - '%nfq_sylius_omnisend_plugin.product_image.filter%'

  nfq_sylius_omnisend_plugin.factory.request.product_variant:
    class: NFQ\SyliusOmnisendPlugin\Factory\Request\ProductVariantFactory
    arguments:
      - '@nfq_sylius_omnisend_plugin.resolver.product_url'
      - '@nfq_sylius_omnisend_plugin.resolver.product_variant_stock'
      - '@sylius.calculator.product_variant_price'
