services:
  nfq_sylius_omnisend_plugin.event_subscriber.customer:
    class: NFQ\SyliusOmnisendPlugin\EventSubscriber\CustomerSubscriber
    arguments:
      - '@messenger.routable_message_bus'
    tags:
      - { name: kernel.event_subscriber }
