includes:
	- phpstan-baseline.neon

parameters:
    phpVersion: 80200
    reportUnmatchedIgnoredErrors: true

    excludePaths:
        # Makes PHPStan crash
        - 'src/DependencyInjection/Configuration.php'
        - 'src/Fixture/**.php'

        # Test dependencies
        - 'tests/Application/app/**.php'
        - 'tests/Application/src/**.php'

    ignoreErrors:
        - identifier: trait.unused
        - identifier: empty.notAllowed
        - '/Variable method call on NFQ\\SyliusOmnisendPlugin\\Client\\Request\\Model\\ContactIdentifierChannel./'
        - '/Call to an undefined method Sylius\\Component\\Core\\Model\\OrderInterface::getOmnisendOrderDetails\(\)./'
        - '/Call to an undefined method Symfony\\Component\\HttpFoundation\\Session\\SessionInterface::getFlashBag\(\)./'
        - '/Call to function method_exists\(\) with */'
