imports:
  - { resource: services/ }

services:
  nfq_sylius_omnisend_plugin.messenger_bus:
    public: false
    alias: messenger.default_bus

  nfq_sylius_omnisend_plugin.client.omnisend:
    class: NFQ\SyliusOmnisendPlugin\Client\OmnisendClient
    arguments:
      - '@nfq_sylius_omnisend_plugin.http_client.factory'
      - '@serializer'
      - '@nfq_sylius_omnisend_plugin.client.message_factory'
    calls:
      - ['setLogger', ['@nfq_sylius_omnisend_plugin.client.logger']]

  nfq_sylius_omnisend_plugin.http_client.factory:
    class: NFQ\SyliusOmnisendPlugin\HttpClient\ClientFactory
    arguments:
      - '@sylius.repository.channel'

  nfq_sylius_omnisend_plugin.client.message_factory:
    class: NFQ\SyliusOmnisendPlugin\Client\MessageFactory
    arguments:
      - '@sylius.context.channel.composite'
      - '@serializer'

  nfq_sylius_omnisend_plugin.fixture.channel:
    class: NFQ\SyliusOmnisendPlugin\Fixture\ChannelFixture
    arguments:
      - '@sylius.repository.channel'
    tags: [sylius_fixtures.fixture]

  nfq_sylius_omnisend_plugin.setter.contact_cookie:
    class: NFQ\SyliusOmnisendPlugin\Setter\ContactCookieSetter
    arguments:
      - '@sylius.storage.cookie'

  nfq_sylius_omnisend_plugin.block_event_listener.sylius.shop.layout.javascripts:
    class: Sylius\Bundle\UiBundle\Block\BlockEventListener
    arguments:
      - '@@NFQSyliusOmnisendPlugin/Shop/Layout/_javascript.html.twig'
    tags:
      - { name: kernel.event_listener, event: sonata.block.event.sylius.shop.layout.javascripts, method: onBlockEvent }

  nfq_sylius_omnisend_plugin.block_event_listener.sylius.product.show.content:
    class: Sylius\Bundle\UiBundle\Block\BlockEventListener
    arguments:
      - '@@NFQSyliusOmnisendPlugin/Shop/Product/_product_picker.html.twig'
    tags:
      - { name: kernel.event_listener, event: sonata.block.event.sylius.shop.product.show.after_description, method: onBlockEvent }

  nfq_sylius_omnisend_plugin.block_event_listener.sylius.admin.channel.update.form:
    class: Sylius\Bundle\UiBundle\Block\BlockEventListener
    arguments:
      - '@@NFQSyliusOmnisendPlugin/Channel/Admin/_channel_omnisend_key.html.twig'
    tags:
      - { name: kernel.event_listener, event: sonata.block.event.sylius.admin.channel.update.form, method: onBlockEvent }

  nfq_sylius_omnisend_plugin.block_event_listener.sylius.admin.channel.create.form:
    class: Sylius\Bundle\UiBundle\Block\BlockEventListener
    arguments:
      - '@@NFQSyliusOmnisendPlugin/Channel/Admin/_channel_omnisend_key.html.twig'
    tags:
      - { name: kernel.event_listener, event: sonata.block.event.sylius.admin.channel.create.form, method: onBlockEvent }
