NFQ\SyliusOmnisendPlugin\Model\Event:
  type: mappedSuperclass
  table: nfq_omnisend_plugin_events
  id:
    id:
      type: integer
      generator:
        strategy: AUTO
  fields:
    eventID:
      type: string
      nullable: true
      length: 32
    name:
      type: string
      nullable: true
    code:
      type: string
      nullable: true
    enabled:
      type: boolean
      options:
        default: 1
    createdAt:
      type: datetime
      nullable: true
    updatedAt:
      type: datetime
      nullable: true
  oneToMany:
    fields:
      targetEntity: NFQ\SyliusOmnisendPlugin\Model\EventField
      mappedBy: event
      cascade: [persist]
      orphanRemoval: true
  manyToOne:
    channel:
      targetEntity: Sylius\Component\Channel\Model\ChannelInterface
      joinColumn:
        name: channel_id
        referencedColumnName: id
        nullable: true
        onDelete: CASCADE
